@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,700|Exo+2:300,600);
 
body {
  font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.2em;
  background: #222;
  color: #475B62;
}
 
strong {
  font-weight: 600;
}
 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  color: #FFF;
  font-size: 1.75em;
  margin-bottom: .4em;
}
 
p {
  font-size: 1em;
  color: #BEF;
  margin-bottom: .5em;
}
 
.container {
  width: 95%;
  /*max-width: 1200px;*/
  margin: 0 auto;
  margin-top:10px;
}

@media all and (max-width: 500px) {
  h2 {
    padding-left: 10px;
    text-align: center;
  }
  .container {
    width: 100%;
  }
}

/* map styles */
.country path {
  fill: #ddd;
  cursor: pointer;
}

.selectedCountry path {
  fill: #ddd;
  cursor: pointer;
}

/* info text */
#map #info-text {
  font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  fill: #BEF;
  font-size: 0.8em;
}

/* pie charts and graphs */
/* chart legend */
#back-btn {
  font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  fill: #FFF;
  font-size: 1.2em;
  cursor: pointer;
}

.legend text {
  font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  fill: #7A7A7A;
  font-size: 0.8em;
  cursor: pointer;
}

.tick .text {
  font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  color: #FFF;
  font-size: 1em;
}

#chart-handle text {
  font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  fill: #FFF;
  font-size: 1em;
}

.noMouse {
  pointer-events: none;
}